<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyue.hans.dao.FinancialRegistrationDao">
    <resultMap id="FinancialRegistrationResult" type="FinancialRegistration">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="money" column="money" />
        <result property="reason" column="reason" />
        <result property="remarks" column="remarks" />
    </resultMap>
    <select id="listAll" resultMap="FinancialRegistrationResult">
        select * from t_financial_registration
    </select>
    <select id="listByPage" resultMap="FinancialRegistrationResult" parameterType="Map">
        select * from t_financial_registration limit #{page} ,#{limit} ;
    </select>
</mapper>