<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyue.hans.dao.ProductTypeDao">
    <resultMap id="ProductTypeResult" type="ProductType">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="parentId" column="parent_id" />
        <result property="icon" column="icon" />
        <result property="state" column="state" />
    </resultMap>
    <select id="listAll" resultMap="ProductTypeResult">
        select * from t_product_type
    </select>
    <select id="listByPage" resultMap="ProductTypeResult" parameterType="Map">
        select * from t_product_type limit #{page} ,#{limit} ;
    </select>
</mapper>